.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topBar {
  background: #50453d;
  background: -webkit-gradient(linear, left top, right top, from(#50453d), color-stop(35%, #792b09), to(#ff8800));
  background: linear-gradient(90deg, #50453d 0%, #792b09 35%, #ff8800 100%);
}

.list {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
  font-size: 12px;
}

.item-list {
  margin-right: 10px;
  cursor: pointer;
  color: white;
}

.item-list:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bolder;
}

.navbar-toggler {
  border: 2px solid orange !important;
}

.navbar-nav {
  text-align: center !important;
  text-transform: uppercase;
  font-weight: bold;
}

.collapse.navbar-collapse {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.centered {
  color: whitesmoke;
  background-color: black;
  opacity: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
}

.centered p {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 45px;
}

.section1 h3 {
  font-weight: bold;
  text-align: center;
  padding: 50px;
}

.myDeals {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product {
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product:hover {
  border: 1px solid #ef6724;
  cursor: pointer;
}

.product p {
  font-size: 17px;
  font-weight: bold;
  margin: 20px;
}

.product .cijena {
  color: red;
}

.section2 h3 {
  font-weight: bold;
  text-align: center;
  padding: 50px;
}

.myShop {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productShop {
  text-align: center;
  padding: 10px;
  background-color: white;
  margin: 10px;
}

.productShop p {
  font-weight: bold;
}

.productShop:hover {
  -webkit-box-shadow: 5px 10px 8px 10px #888888;
          box-shadow: 5px 10px 8px 10px #888888;
  border-radius: 7px;
  cursor: pointer;
}

.sec3Slika img {
  width: 100%;
}

.shopBack {
  margin-bottom: 30px;
}

.sec3Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10px 0 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec3Parag {
  padding: 30px;
  max-width: 600px;
}

.best1 {
  margin-left: -15px;
}

.best2 {
  margin-left: 15px;
}

.section4 h3 {
  text-align: center;
  padding: 30px;
}

.section4Back {
  background-color: #f3f3f3;
}

.parag {
  text-align: center;
  padding: 30px;
}

.support {
  text-align: center;
}

.support i {
  font-size: 50px;
  color: #ef6724;
  padding: 5px;
}

.support p {
  padding: 5px;
}

.fa.fa-truck {
  font-size: 55px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Pay img {
  max-width: 60px;
}

.logoFooter img {
  max-width: 150px;
  border: 3px solid black;
}

.footer {
  padding-top: 50px;
  margin-top: 20px;
}

.footer h6 {
  padding: 10px 0 10px 0;
}

.backFooter {
  color: white;
  background: #50453d;
  background: -webkit-gradient(linear, left top, right top, from(#50453d), color-stop(35%, #792b09), to(#ff8800));
  background: linear-gradient(90deg, #50453d 0%, #792b09 35%, #ff8800 100%);
}

.pad {
  margin: 10px 0 10px 0;
}

@media only screen and (max-width: 768px) {
  .centered p {
    font-size: 30px;
    padding: 5px;
    margin: 5px;
  }
  .product {
    padding: 10px;
  }
  .productShop {
    margin-bottom: 50px;
  }
  .sec3Parag {
    padding: 15px;
  }
  .Pay img {
    max-width: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand img {
    max-width: 170px;
  }
  .product {
    margin-bottom: 25px;
  }
  .productShop img {
    max-width: 80px;
  }
  .best1 {
    margin-left: 0px;
  }
  .best2 {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */